services:
  # Zookeeper est là pour faire une mémoire partagée
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  # Définition de mon broker KAFKA
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "test_topic:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  producer:
    build: ./producer
    volumes:
      - ./producer:/app
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
    command: python -u producer-fiat.py

  consumer:
    build: ./consumer 
    volumes:
      - ./consumer:/app
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
    command: python -u consumer-fiat.py